<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios</title>
</head>
<body>
<h1>Listado de usuarios de equipos</h1>

<table th:if="${usuarios.size() > 0}" border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Fecha de Nacimiento</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.getNombre()}"></td>
        <td th:text="${usuario.getEmail()}"></td>
        <td th:text="${usuario.getFechaNacimiento()}"></td>
    </tr>
    </tbody>
</table>
<form th:if="${!yaEstaEnEquipo}" th:action="@{/equipos/unirse}" method="post">
    <input type="hidden" name="idEquipo" th:value="${idEquipo}" />
    <button type="submit">Unirme al Equipo</button>
</form>
<form th:if="${yaEstaEnEquipo}" th:action="@{/equipos/salirse}" method="post">
    <input type="hidden" name="idEquipo" th:value="${idEquipo}" />
    <button type="submit">Salir del Equipo</button>
</form>
<p th:if="${usuarios.size() == 0}">No hay usuarios registrados.</p>
</body>
</html>
